@font-face {
    font-family: Avenir Next LT Pro;
    src: url(../font/AVENIRNEXTLTPRO-REGULAR.OTF);
    
  }
  @font-face {
    font-family: Avenir Next LT Pro;
    src: url(../font/AVENIRNEXTLTPRO-REGULAR.OTF);
    font-weight: lighter;
    
  }
 